{% load static %}
<link rel="stylesheet" type="text/css" href={% static "TextMissing/document.css" %}>

<div class="document-container">
    <div class="metadata-name">
        {% if document.status != "blocked"  %}
            {% if is_manager_or_contributor %}
                <a href="{% url "TextMissing:delete_document" document_id=document.id %}">
                    <span class="delete-button glyphicon glyphicon-remove pull-left"></span>
                </a>
                <a href="{% url "TextMissing:update_document" document_id=document.id %}">
                    <span class="update-button glyphicon glyphicon-pencil pull-left"></span>
                </a>
            {% endif %}
        {% endif %}
        <span>{{ document.document_name }}</span>
    </div>
    <div class="metadata-container">
        <div class="metadata-title">
            <div>Version</div>
            <div>Author</div>
            <div>Created on</div>
            <div>Last Updated</div>
            <div>Abstract</div>
            <div>File</div>
            <div>Size</div>
        </div>
        <div class="metadata-content">
            <div>v{{ document.version }}</div>
            <div>{{ document.author }}</div>
            <div>{{ document.creation_date   }}</div>
            <div>{{ document.last_update }}</div>
            <div>{{ document.abstract }}</div>
            <div><a href={{ document.get_file_url }}> {{ document.get_file_name }} </a></div>
            <div>{{ document.size|floatformat:2 }} MB</div>
        </div>
    </div>
</div>
