{% extends "LoginApp/base_site.html" %}
{% load i18n %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}
{% block content %}

<form method="get" action="work_zone.html">
    <button class="generic-button">Work Zone</button>
</form>
    {% if is_manager_or_contributor %}
    <form method="get" action="initiate_zone.html">
    <button class="generic-button">Initiated Tasks Zone</button>
    </form>
{% endif %}
    <form method="get" action="task_zone.html">
    <button class="generic-button">Tasks Zone</button>
</form>
    <form method="get" action="finished_zone.html">
    <button class="generic-button">Finished Tasks Zone</button>
</form>


{% endblock %}